extends layout

block content
  h1= title 

  if error
    p Erro ao requisitar conteúdo.
  else
    ul
      each category in categories
        li
          a(href=category.url) #{category.name}
      else 
        li Não há categorias para se exibir.