extends layout

block content
  h1= title 

  if error
    p Error getting dynamic content.
  else
    ul
      each product in product_list
        li
          a(href=product.url) #{product.name}
          |   R$ #{product.price}
      else 
        li There are no products.