extends layout

block content
  h1= title 

  if error
    p Erro ao requisitar conteúdo.
  else
    ul
      each product in product_list
        li
          a(href=product.url) #{product.name}
          |   R$ #{product.formattedPrice}
      else 
        li Não há produtos para se exibir.