extends layout

block content
  h1= title 

  if error
    p Erro ao requisitar conteúdo.
  else
    ul
      each supplier in supplier_list
        li
          a(href=supplier.url) #{supplier.name}
          |  (#{supplier.state})
      else 
        li Não há fornecedores para se exibir.